<%= render partial: "nav" %>
<div class="vintage__container">

  <% @newsletters.each do |n| %>
  <ul>
    * <%= n.title %> - <%= n.sub_title %> -
    <%= link_to "Review", newsletter_path(n.id) %>
  </ul>

  <% end %>

  </div>
