<h3 class="retro-font-last">Edit<br>
  <%= @event.title %></h3>

<div>
  <% if @event.photo.attached? %>
    <%= image_tag url_for(@event.photo), :class=> "edit-box" %>
  <% else %>
    <h3>No Photo</h3>
  <% end %>
</div>

<%= render partial: "form" %>
