<div class="halo"></div>
<div class="vintage_container">
  <div>
    <span class="intro intro--the">The</span>
    <span class="intro intro--num">NO. 1</span>
    <span class="intro">newsletter anywhere</span>
  </div>
  <span class="intro intro--the">The</span>
  <span class="vintage vintage__top">DAILY PROPHET</span>
  <span class="vintage vintage__bot">DAILY PROPHET</span>
  <div>
    <span class="outro">by</span>
    <span class="outro outro--big">Bryant Richards</span>
    <span class="outro"></span>
    <span class="outro outro--smart">muggles welcome</span>
  </div>
</div>
