
<section class="text">
  <% if user_signed_in? %>
  <h4>Welcome to your Newsletter</h4>
  <h5><span class="fontawesome-star star"></span> <span><%= current_user.full_name %></span> <span class="fontawesome-star star"></span></h5>
  <h4>Start by creating a Newsletter under "content" above or by clicking <%= link_to "here", new_newsletter_path %>.</h4>
  <h4>Then create articles for your Newsletter.</h4>
  <h4>Finally, view them under the "Paper" link above.</h4>
  <% else  %>
  <h4>Welcome, please sign in</h4>
  <% end %>
</section>
